@import "variables";

.katsenkatorz-stepper{
   > .katsenkatorz-stepper-header{
      min-height:$size-header;
      padding:0 24px;
      > .katsenkatorz-stepper-group{
         min-height:$size-header;
         float:left;
         position:relative;
         > .katsenkatorz-stepper-step{
            padding:$padding-group;
            position:absolute;
            z-index:5;
            background:#fff;
            > .katsenkatorz-stepper-chip{
               display:inline-block;
               color:#fff;
               min-width:$size-chip;
               height:$size-chip;
               border-radius:50%;
               position:relative;
               text-align:center;
            }
            > .katsenkatorz-stepper-title{
               display:inline-block;
               padding:0 8px;
               font-weight:bold;
               font-size:12px;

            }

         }

         > .katsenkatorz-stepper-separator{
            border-top: 1px solid #ccc;
            position:absolute;
            top:50%;
            width:95%;
            z-index:1;
         }

      }
   }
   > .katsenkatorz-stepper-content{
      height:600px;
   }
   > .katsenkatorz-stepper-footer{
      margin:16px;
      min-height:$size-footer;
   }
}